<template>
    <w-modal name="queue-edit" :on-show="onShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <button v-on:click="$modal.hide('queue-edit')" type="button" class="close"><span>&times;</span></button>
                
                <el-form-two :on-submit="submit" :data="form">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <form-edit :data="form"></form-edit>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button v-on:click="$modal.hide('queue-edit')" type="button" class="btn btn-default" :disabled="form.status === 'sending'">Cancel</button>
                        
                        <button type="submit" class="btn btn-primary" :disabled="form.status === 'sending'">
                            <i v-show="form.status === 'sending'" class="fa fa-spin fa-spinner"></i>
                            Update
                        </button>
                    </div>
                </el-form-two>
            </div>
        </div>
    </w-modal>
</template>

<script>
    import formEdit from '../../../posts/forms/user/Edit.vue';

    export default {
        data() {
            return {
                update: null,
                updates: null,
                index: null,

                form: {
                    method: 'put',
                    url: null,
                    body: {},
                    errors: {},
                    status: null,
                    impersonating: false
                }
            };
        },

        methods: {
            onShow(data) {
                this.form.errors = {};
                this.form.status = null;
                
                this.form.body = {
                    type: data.update.type,
                    url: data.update.url,
                    text: data.update.text,
                    long_text: data.update.long_text,
                    title: data.update.title,
                    image: data.update.image,
                    tweet_id: data.update.tweet_id,
                    description: data.update.description,
                };

                Vue.set(this.form.body, 'social_vals', (data.update.social_vals || this.$store.get('properties.data.update_supported_social')).slice());
                Vue.set(this.form.body, 'profile_vals', (data.update.profile_vals || this.$options.filters.pluck(this.$store.get('brands.current').profiles, 'key')));

                this.form.url = 'queues/' + data.update.queue_id + '/update';

                this.update = data.update;
                this.updates = data.updates;
                this.index = data.index;
            },

            submit(data) {
                this.$http(data)
                    .then((res) => {
                        this.$eventer.emit('list:refresh:posts', {
                            silent: true
                        });
                        
                        this.$modal.hide('queue-edit');
                        
                        data.success(res);
                    }, data.error);
            }
        },

        components: {
            formEdit,
        }
    }
</script>