<template>
    <div class="media-date undraggable">
        <div v-if="_currentDate !== _previousDate">
            <i v-if="index != 0" class="vs-10"></i>

            <span v-html="_currentDate"></span>

            <i class="vs-15"></i>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['item', 'items', 'index', 'date'],

        computed: {
            _currentDate() {
                var current = this.item || {};

                return this.$options.filters.dateShort(current[this.date]);
            },

            _previousDate() {
                var previous = (this.items || [])[this.index - 1] || {};

                return this.$options.filters.dateShort(previous[this.date]);
            }
        },

    };
</script>