<template>
    <div>
        <el-list-two
            :url="'brands/' + brand.id + '/posts/unsent'"
            :label="'posts'"
            :on-success="onSuccess"
        >
            <template slot="list" scope="data">
                <div class="draggable-items">
                    <div id="draggable-unsent">
                        <draggable :options="options" @start="onDragStart" @end="onDragEnd">
                            <template v-for="(item, index) in data.items">
                                <item-date
                                    :item="item"
                                    :items="data.items"
                                    :index="index"
                                    :date="'send_at'"
                                ></item-date>
                                
                                <!--
                                    NOTE: The Math.random is needed for proper
                                          realignment on silent refresh when sorting.
                                -->
                                <item-post
                                    :key="item.id + Math.random()"
                                    :item="item"
                                    :items="data.items"
                                    :index="index"
                                    :brand="brand"
                                ></item-post>
                            </template>
                        </draggable>
                    </div>
                </div>
            </template>

            <template slot="noResults">
                <div v-show="brand.is_published">
                    <p>
                        All posts have been sent.
                    </p>

                    Your schedule is empty! Add a new post or start from the Suggestions tab.
                </div>

                <div v-show="!brand.is_published">
                    Weâ€™re still working on your social media schedule. Check back in a few hours.
                </div>
            </template>
        </el-list-two>

        <modal-queue-edit></modal-queue-edit>
        <modal-queue-approve></modal-queue-approve>
        <modal-queue-feedback></modal-queue-feedback>
        <modal-queue-schedule></modal-queue-schedule>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import itemDate from '../../../../posts/elements/ItemDate.vue';
    import modalQueueEdit from '../../../../queue/modals/user/Edit.vue';
    import itemPost from '../../../../queue/elements/user/ItemUnsent.vue';
    import modalQueueApprove from '../../../../queue/modals/user/Approve.vue';
    import modalQueueFeedback from '../../../../queue/modals/user/Feedback.vue';
    import modalQueueSchedule from '../../../../queue/modals/user/Schedule.vue';

    export default {
        props: ['brand'],

        data() {
            return {
                items: [],

                hasScrolledTo: false,

                options: {
                    forceFallback: true, 
                    scroll: document.getElementsByTagName('body')[0],
                    scrollSpeed: 40,
                    scrollSensitivity: 200,
                    draggable: '.draggable',
                    handle: '.handle'
                }
            }
        },
        
        mounted() {
            this.$eventer.emit('brand-select-set-title');
        },

        methods: {
            onSuccess(data) {
                var i, ii,
                    items = [];

                this.toggle(false);

                for (i = 0, ii = data.items.length; i < ii; i++) {
                    if (!data.items[i].is_scheduled) {
                        items.push({queue_id: data.items[i].queue_id});
                    }
                }

                this.items = items;

                this.scrollTo();
            },

            onDragStart(e) {
                this.toggle(true);
            },

            onDragEnd(e) {
                var queueOld = this.items[e.oldIndex],
                    queueNew = this.items[e.newIndex - (e.newIndex > e.oldIndex ? 0 : 1)];

                // if (e.oldIndex === e.newIndex) {
                //     this.toggle(false);
                //     return;
                // }

                this.$http({
                        method: 'put',
                        url: 'queues/' + queueOld.queue_id + '/order',
                        body: {
                            queue_after_id: (queueNew || {}).queue_id || 0
                        }
                    })
                    .then((res) => {
                        // if (e.oldIndex !== e.newIndex) {
                        //     this.$msgbag.success(res.data.msg);
                        // }

                        this.$eventer.emit('list:refresh:posts', {
                            silent: true
                        });
                    });
            },

            toggle(show) {
                document.getElementById('draggable-unsent').className = (show ? 'dragging' : '');
            },

            scrollTo() {
                var el,
                    hash = (this.$route.hash || '').trim();

                if (this.hasScrolledTo) {
                    return;
                }

                this.hasScrolledTo = true;

                if (hash) {
                    setTimeout(function () {
                        el = document.getElementById(hash.substring(1));

                        if (el) {
                            el.scrollIntoView();
                        }
                    }, 600);
                }
            }
        },

        components: {
            itemPost,
            itemDate,
            draggable,
            modalQueueEdit,
            modalQueueApprove,
            modalQueueFeedback,
            modalQueueSchedule,
        }
    };
</script>